html {
	box-sizing: border;
	font-family: 'Merriweather', serif;
	margin: 0;
}

*, *::before, *::after {
	box-sizing: inherit;
}






.header-div {
	overflow: hidden;
}

header {
	background-color: #d05c2e;
}

h1 {
	color: white;
	text-align: center;
	margin: 0 0 0 3rem;
}

h2 {
	text-align: center;
	clear: both;
}

.grain-logo {
	max-width: 70px;
	float: left;
}

.grain-logo-2 {
	max-width: 70px;
	float: right;
}

nav ul{
	text-align: center;
}

nav li {
	display: inline-block;
	width: 32%;
	border: 1px solid black;
	text-align: center;
}

nav a{
	color: white;
	text-decoration: none;
	background-color: #d05c2e;
	padding: 0.2em 0.5em 0.1em 0.5em;
	text-align: center;
	display: inline-block;
}

nav li:hover{
	background-color: red;
}









.top-div {
	margin: 0;
}

.grains {
	float: left;
	width: 40%;
	margin-right: 15px
}

.cereals {
	width: 40%;
	float: right;
}

.quinoa {
	width: 40%;
	clear: right;
	float: right;
}








.mid-div {
	background-color: #dc8252;
	overflow: hidden;
}

.corn {
	width: 100%;
}

.corn-caption {
	text-align: center;
}

.rice, .oats {
	width: 100%;
}

.rice-fig {
	float: left;
	margin: 0;
}

.oats-fig{
	float: right;
	margin: 0;
}

.rice-fig, .oats-fig {
	width: 50%;
	text-align: center;
}




dt {
	width: 40%;
}

.bottom-img {
	width: 100%;
}

.legume-p {
	float: right;
}






footer {
	background-color: #d05c2e;
	margin: 0;
}

.footer-p {
	margin: 0;
	text-align: center;
	padding: 1em 0 1em 0;
	color: white;
}
/*
.bottom-img {
	float: left;
	width: 25%;
	clear: left;
}

.legume-p {
	overflow: hidden;
}
*/
