html {
	box-sizing: border;
	font-family: 'Merriweather', serif;
	margin: 0;
}

*, *::before, *::after {
	box-sizing: inherit;
}

header {
	background-color: #d05c2e;
}

body {
	margin: 0;
}

.float-right {
	float: right;
	width: 20%;
}

nav {
}

h1 {
	color: white

}
