/* Check out paddings / margins below top image*/
/* change colour for grains copyright*/




html {
	box-sizing: border;
	font-family: 'Merriweather', serif;
	margin: 0;
	line-height: 1.5rem;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}





.header-div {
	overflow: hidden;
}

header {
	background-color: #d05c2e;
	overflow: hidden;
	width: 100%;
}

h1 {
	color: white;
	text-align: center;
	margin: 0 0 0 3rem;
}

h2 {
	text-align: center;
}





.grain-logo {
	max-width: 70px;
	float: left;
}

.grain-logo-2 {
	max-width: 70px;
	float: right;
}


nav ol{
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}

nav li {
	display: block;
	border: 1px solid black;
	width: 32.5%;
	text-align: center;
	float: left;
}

nav li a{
	color: white;
	text-decoration: none;
	background-color: #d05c2e;
	text-align: center;
	display: block;
	width: 100%;
}

nav li a:hover{
	background-color: red;
}









.top-div {
	margin: 0;
	padding: 0 1em 0 1em;
}
.top-p-2 {
	clear: left;
}

.grains {
	float: left;
	width: 40%;
	margin-right: 15px;
	border: 1px solid #cccccc;
}

.cereals {
	width: 40%;
	float: right;
	margin-left: 15px;
	border: 1px solid #cccccc;
}

.quinoa {
	width: 40%;
	clear: right;
	float: right;
	margin-top: 1em;
	margin-left: 15px;
	margin-bottom: 1em;
	border: 1px solid #cccccc;

}






.mid-h2 {
	color: white
}

.mid-div {
	background-color: #dc8252;
	overflow: hidden;
	clear: both;
}

.corn {
	width: 100%;
}

.corn-fig {
	margin: 0;
}

.rice-caption, .oats-caption {
	color: white;
	font-style: italic;
	padding-bottom: 1em;
}
.corn-caption {
	text-align: center;
	color: white;
	font-style: italic;
	padding-bottom: 1em;
}

.rice, .oats {
	width: 100%;
}

.rice-fig {
	float: left;
	margin: 0;
	width: 50%;
	text-align: center;
}

.oats-fig{
	float: right;
	margin: 0;
	width: 50%;
	text-align: center;
}






.bottom-img {
	width: 30%;
	float: left;
	clear: left;
	border: 1px solid #cccccc;
	margin-right: 1em;
	margin-bottom: 1em;
}

.bottom-ul {
	padding-left: 1em;
}

.bottom-li {
	list-style-type: none;
	clear: both;
}






footer {
	background-color: #d05c2e;
	margin: 0;
	overflow: hidden;
	clear: both;
}

.footer-p {
	margin: 0;
	text-align: center;
	padding: 1em 0 1em 0;
	color: white;
}
/*
.bottom-img {
	float: left;
	width: 25%;
	clear: left;
}

.legume-p {
	overflow: hidden;
}
*/
